JaxwsClient/wsdl/CollectionWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.wang.com/" xmlns:tns="http://ws.wang.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="rtnMethod" type="tns:rtnMethod"/>

  <xs:element name="rtnMethodResponse" type="tns:rtnMethodResponse"/>

  <xs:complexType name="rtnMethod">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="rtnMethodResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

